<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <div>
        <img src="/images/logo-mercado-liebre.svg">
    </div>
</head>
<body>
    <section>
        <article>
            <h1>lugar para poner la barra de busqueda</h1>
            <h1>Compra en cuotas y sin tarjeta de crédito</h1>
        </article>
    </section>
</body>
<body>
    <header>
        <nav>
              <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                 <li><a href="">Ayuda</a></li>
              </ul>  

        </nav>
        <nav>
            <ul>
                <li><a href="">Crea tu cuenta</a></li>
                <li><a href="">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
            </nav>
    </header>
    <main>
        <head>
            <div> 
            <img src="/images/img-home-banner.jpg">
            </div>
        </head>
        <head>
            <h3>Basados en tu última visita</h3>
        </head>
        <section>
            <article>
        <nav><ul><p>$6.770 40% OFF Cafetera Moulinex</p><img src="/images/img-cafetera-moulinex.jpg" alt="Cafeterea"></li></ul></nav>
            </article>
        </section>
        <section>
            <article>
        <nav><ul><p>$230.000 20% off MacBook Pro 2019</p><img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro"></li></ul></nav>
            </article>
        </section>
        <section>
            <article>
        <nav><ul><p>$70.500 10% off Samsung Galaxy S10</p><img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular"></li></ul></nav>
            </article>
        </section>
        <section>
            <article>
        <nav><ul><p>$23.200 5% off SmartTv Samsung 43"</p><img src="/images/img-tv-samsung-smart.jpg" alt="TV"></li></ul></nav>
            </article>
        </section>
        <head>
            <h3>Ofertas</h3>
        </head>
        <section>
            <article>
        <nav><ul><p>$6.770 40% OFF Cafetera Moulinex</p><img src="/images/img-cafetera-moulinex.jpg" alt="Cafeterea"></li></ul></nav>
            </article>
        </section>
        <section>
            <article>
        <nav><ul><p>$230.000 20% off MacBook Pro 2019</p><img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro"></li></ul></nav>
            </article>
        </section>
        <section>
            <article>
        <nav><ul><p>$70.500 10% off Samsung Galaxy S10</p><img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular"></li></ul></nav>
            </article>
        </section>
        <section>
            <article>
        <nav><ul><p>$23.200 5% off SmartTv Samsung 43"</p><img src="/images/img-tv-samsung-smart.jpg" alt="TV"></li></ul></nav>
            </article>
        </section>

    </main>

    <footer>
        <ul>
            <li>Pagá con tarjeta o en efectivo</li>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <li>Envío gratis desde $ 2.500</li>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <li>Seguridad, de principio a fin</li>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
          </ul>
    </footer>
</body>
</html>

